.text {
    align-self: center;
}

.about-portrait {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
}

.about-links {
    color: #34b8fa;
}

.about-links:hover {
    color: white;
}

.aboutImg {
    width: 100%;
    height: 100%;
    opacity: 0.85;
    border-radius: 30px;
}

.pic-text-row {
    margin-bottom: 5%;
}

.pt1 {
    background: url('https://i.pinimg.com/474x/68/93/5e/68935efc09f0f347180f7d1aa279584c.jpg');
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover, contain;
    border-radius: 30px;
}

.pt2 {
    background: url('https://thumbs.dreamstime.com/b/gas-mask-isolated-white-background-vector-illustration-concept-57744323.jpg');
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover, contain;
    border-radius: 30px;
}

.pt3 {
    background: url('https://thumbs.dreamstime.com/b/desktop-source-code-technology-background-developer-programer-coding-programming-wallpaper-computer-language-125218185.jpg');
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover, contain;
    border-radius: 30px;
}

.currently {
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.currently::before {
    position: absolute;
    left: 25%;
    top: 70%;
    display: block;
    width: 50%;
    border-bottom: 5px solid #34b8fa;
    content: "";
}

.currently-text {
    text-align: center;
    padding: 0 15% 0 15%;
}

.about-contact-icons {
    height: 1em;
    width: 1em;
    font-size: 2em;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

.about-contact-icons:hover {
    cursor: pointer;
    color: white;
}