body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #1F1F1F;
  color: white;
  font-family: 'PT Sans', sans-serif;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.entry {
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 3px 1px 10px 1px #1F1F1F;
  background-color: whitesmoke;
}