.author {
}

.aaa{
    /* background-color: #34b8fa; */
    color: white;
}

.book-image {
    height: 20vh;
    margin: auto;    
    display: block;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.notes-info {
    margin: 20px 0px 30px 0px;
}

.title {
    font-weight: bold;
    color: black;
}

.title:hover {
    color: #34b8fa;;
}