.avatar {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.contact-icons {
    height: 1em;
    width: 1em;
    font-size: 1.5em;
    margin-right: 5%;
}

.contact-icons:hover {
    cursor: pointer;
    color: white;
}

.header {
    width: 100vw;
    height: 95px;
    background: #34b8fa !important;
    color: black;
}

.navLink {
    flex-direction: row;
    width: 30px;
    margin: 5px;
    color: black;
}

.navLink:hover {
    color: white;
}